body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  font-size: 40px;
  margin-bottom: 30px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 200px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  height: 200px;
  width: 200px;
}

.square-win {
  background: "green";
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 40px;
  font-size: 30px;
}

.button {
  background-color: #4c93af;
  border: none;
  color: white;
  padding: 15px 32px;

  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 200px;
}
